.gradle
/local.properties
.idea
.idea/misc.xml
.idea/modules.xml
.DS_Store
/build
/captures
/*.iml

/app/app-release.apk
app/app.iml
app/manifest-merger-release-report.txt

secret.xml
google-services.json
